# ====================================
# Archivos compilados
# ====================================
*.class
*.o
*.out
*.exe

# ====================================
# Archivos de log
# ====================================
*.log

# ====================================
# Archivos temporales
# ====================================
*.tmp
*.temp
*.swp
*.swo

# ====================================
# Paquetes y archivos comprimidos
# ====================================
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ====================================
# Errores de JVM
# ====================================
hs_err_pid*
replay_pid*

# ====================================
# IDEs y editores
# Ignora en cualquier subcarpeta
# ====================================

# VS Code
**/.vscode/

# IntelliJ IDEA
**/.idea/
*.iml
out/

# Eclipse
**/.project
**/.classpath
**/.settings/
bin/

# NetBeans
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# ====================================
# Herramientas de build
# ====================================

# Gradle
**/.gradle/
**/build/

# Maven
**/target/

# ====================================
# Archivos del sistema operativo
# ====================================

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
